
@{
    Layout = null;
}



<div id="sidebar-menu">
    <ul>
        <li>
            <a href="/Admin/Management/Index" class="waves-effect"><i class="fa fa-list"></i><span> Ürün İşlemleri</span></a>
        </li>
        <li>
            <a href="/Admin/Management/AddProduct" class="waves-effect"><i class="fa fa-plus"></i><span> Ürün Ekle</span></a>
        </li>
        <li>
            <a href="/Admin/Management/AddCategory" class="waves-effect"><i class="fa fa-plus"></i><span> Kategori Ekle</span></a>
        </li>
        <li>
            <a href="/Admin/Management/GetCategories" class="waves-effect"><i class="fa fa-plus"></i><span> Kategori Güncelle</span></a>
        </li>
        <li>
            <a href="/Admin/Management/SoftDeletedProducts" class="waves-effect"><i class="fa fa-low-vision"></i><span> Pasif Ürünleri Gör</span></a>
        </li>
        <li>
            <a href="/Admin/Management/SoldProducts" class="waves-effect"><i class="fa fa-handshake-o"></i><span> Satışları Gör</span></a>
        </li>
        <li>
            <a href="/Admin/Management/Accounts" class="waves-effect"><i class="fa fa-user-o"></i><span> Admin Yönetim</span></a>
        </li>
        <li>
            <a href="/Admin/Management/GetLogs" class="waves-effect"><i class="fa fa-exclamation-triangle"></i><span> İşlem Geçmişi</span></a>
        </li>
    </ul>
</div>