@{ 
    Layout = null;
}

<div class="banner">
    <div class="row">
        <div class="col-xs-12">
            <div class="main-banner">
                <div class="item">
                    <img src="~/Content/images/banner1.jpg" alt="MarketShop">
                    <div class="banner-detail">
                        <div class="container">
                            <div class="banner-detail-inner">
                                <h1 class="banner-title">Market <span>shop</span></h1>
                                <span class="slogan">Free Ecommerce Template</span><br>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br>sed do eiusmod tempor incididunt ut labore</p>
                                <a href="~/Content/#" class="btn btn-color">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/images/banner2.jpg" alt="MarketShop">
                    <div class="banner-detail">
                        <div class="container">
                            <div class="banner-detail-inner">
                                <h1 class="banner-title">Fire HD10.1"<span></span></h1>
                                <span class="slogan">Our Largest Display</span><br>
                                <p>On Our Thinnest Tablet</p>
                                <a href="~/Content/#" class="btn btn-color">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/Content/images/banner3.jpg" alt="MarketShop">
                    <div class="banner-detail">
                        <div class="container">
                            <div class="banner-detail-inner">
                                <h1 class="banner-title">Samsung <br> TV LED Full HD <span></span></h1>
                                <!-- <span class="slogan"></span> -->
                                <p>The most important upgrades of Xbox One S are a new controller and <br> cross-play with PC. Just as we suspected, Xbox presentation <br>has started with new console Xbox One S.</p>
                                <a href="~/Content/#" class="btn btn-color">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
