
@{ 
    Layout = null;
}
<section class="pt-50 pt-xs-30">
    <div class="container">
        <div class="ser-feature-block center-sm">
            <div class="row">
                <div class="col-md-3 col-xs-6 feature-box-main">
                    <div class="feature-box feature1">
                        <div class="ser-title" style="font-size:13px;">Ücretsiz Teslimat</div>
                        <div class="ser-subtitle">300 TL ve üzeri</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 feature-box-main">
                    <div class="feature-box feature2">
                        <div class="ser-title">Canlı Destek</div>
                        <div class="ser-subtitle">7/24 Online Destek</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 feature-box-main">
                    <div class="feature-box feature3">
                        <div class="ser-title">Ücretsiz İade</div>
                        <div class="ser-subtitle">30 gün içinde</div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6 feature-box-main">
                    <div class="feature-box feature4">
                        <div class="ser-title">Fırsatlar</div>
                        <div class="ser-subtitle">Haftasonu indirimleri</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

