
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Customers


<div class="banner inner-banner align-center">
    <div class="container">
        <section class="banner-detail">
            <h1 class="banner-title">Hesap Oluştur</h1>
            <div class="bread-crumb right-side">
                <ul>
                    <li><a href="/">Anasayfa</a>/</li>
                    <li><span>Hesap Oluştur</span></li>
                </ul>
            </div>
        </section>
    </div>
</div>

<section class="checkout-section ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-8 col-lg-offset-3 col-sm-offset-2">
                        <form method="post" action="" class="main-form full">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-xs-12 mb-20">
                                    <div class="heading-part heading-bg">
                                        <h2 class="heading">Hesap Oluşturun</h2>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    @if (ViewBag.Error != null)
                                    {
                                        <div class="alert alert-danger">@ViewBag.Error</div>
                                    }
                                </div>
                                <div class="col-xs-12">
                                    <div class="input-box">
                                        <label for="name">Kullanıcı Adı</label>
                                        <input type="text" id="username" name="Username" required placeholder="Kullanıcı Adı Giriniz..">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="input-box">
                                        <label for="email">E-Posta Adresi</label>
                                        <input id="Email" type="email" name="Email" required placeholder="E-Posta Adresi giriniz..">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="input-box">
                                        <label for="pass">Şifre</label>
                                        <input id="Password" type="password" name="Password" required placeholder="Şifre giriniz..">
                                    </div>
                                </div>
                                <button name="submit" type="submit" class="btn-color right-side">Üye Ol</button>
                                <div class="col-xs-12">
                                    <hr>
                                    <div class="new-account align-center mt-20"> <span>Zaten hesabınız var mı ?</span> <a class="link" title="Giriş Yapın" href="/kullanici-giris">Giriş Yapın</a> </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>